page-dashboard {
  form{
    position: relative;
    left: 70%;
  }
  #lineBox{
    width: 50%;
  }
  #dountBox{
    float: right;
    position: relative;
    height: 50%;
    width: 50%;
    left: 70%;
  }
}
